
@media only screen and (max-width: 600px) {
    * {
        margin: 0;
        padding: 0;
        text-align: center;
    }
h1 {
background-color: black;
font-size: 2rem;
    line-height: 2rem;
color: antiquewhite;
height: 5rem;
line-height: 5rem;
}

.choice {
    height: 120px;
    width:120px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover {
    animation: shake 0.5s ease-in-out;
  background-color: #db221f;
  cursor: pointer;
}
@keyframes shake {
    0% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    100% { transform: translateX(-5px); }
  }
.choices {
    display: flex;
    height:180px;
    background-color: aquamarine;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    
    margin-top: 2rem;
    margin-left: 10rem;
    margin-right: 10rem;
    border-radius: 2rem;
}

img {
    height: 100px;
    width: 100px;  
    object-fit: cover;
    border-radius: 50%;
    border-style:dashed;
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin-top: 1rem;
    gap: 3rem;
}

#user-score , #comp-score {
   
font-size: 2rem;
}

#msg {
    background-color: black;
    color:aliceblue;
    font-size: 2rem;
    display: inline;
    padding: 0.5rem;
    border-radius: 1rem;
}
.msg-container {
    margin-top: 3rem;
}
}